:root {
  /* CSS HEX */

  --polished-pine: #609b8aff;
  --opal: #92b7b0ff;
  --black-shadows: #bbadb7ff;
  --kobi: #f3969a;
  --beau-blue: #c3d3d5ff;
  --dark-text: #f12f0;

  /* CSS HSL */
  --polished-pine: hsla(163, 24%, 49%, 1);
  --opal: hsla(169, 20%, 65%, 1);
  --black-shadows: hsla(317, 9%, 71%, 1);
  --kobi: #f3969a;
  --beau-blue: hsla(187, 18%, 80%, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 1.1em;
}
body {
  color: var(--dark-text);
  overflow:scroll;
}

.large {
  font-size: 20px;
}
p {
  font-size: 18px;
}
p.main_text {
  color: var(--dark-text);
}
li {
  color: var(--dark-text);
  list-style: '-';
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}
.nav-item {
  margin-left: 2rem;
}

.nav-link {
  font-size: 1.35rem;
  font-weight: 400;
  color: #fefefe;
}

.login {
  border-radius: 14px;
  padding: 40px 120px;
  margin: 10% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  max-width: 500px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  background-color: var(--opal);
  box-shadow: 6px 8px 13px var(--black-shadows);
}
.main {
  min-height: 80vh;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.translator__view {
  position: relative;
  display: flex;
  padding: 100px;
}
.translate {
  display: flex;
  flex-direction: column;
}
.translate > input {
  padding: 10px;
}
.translate_logo {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
  top: 10%;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

.imageList {
  max-width: 800px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 50px;
}
.sign {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .imageList {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}
